.custom-button{
    background-color: #008DA9!important;
    border: solid 2px #008DA9 !important;
    border-radius: 12px;
}
.button-cart{
    background-color: #008DA9!important;
    border: solid 2px #008DA9 !important;
    border-radius: 12px;
    margin-left: 10px;
}
.ware-button{
    background-color: #008DA9!important;
    border-radius: 20px;
    width: 100%;
}
.custom-button:hover{
    filter: brightness(1.10);
}
.custom-button:active{
    filter: brightness(1.20);
}
.custom-input{
    border-radius: 12px!important;
}
.d-block{
    filter: brightness(50%);
}
.custom-bold{
    font-size: 18px;
    color: #008DA9;
    font-weight: bold;
}
#section2{
    position: relative;
    padding: 80px 0 80px 0;
}

#section2 p{
    text-align: left;
}
.custom-colored-text{
    color: #131818;
    text-align: start;
}
.custom-colored-text ul{
    padding-left: 0;
    list-style-type: none;
}
.custom-section1-img{
    width: 200px;
    position: absolute;
    left: 0;
    top: 280px;
}

.custom-section2-img{
    width: 200px;
    position: absolute;
    right: 0;
    top: 280px;
}
#email-section{
    padding: 150px 0 150px 0;
    background-image: url("/images/email_background.webp");
}

@media all and (max-width: 1024px) {
    .custom-section1-img{
        visibility: hidden;
    }
}
@media all and (max-width: 1024px) {
    .section{
        visibility: hidden;
    }
}
.custom-bold-white{
    font-size:38pt;
    color: white;
    font-weight: bold;
    background: #008DA9;
    padding: 8px;
}
.custom-bold-38{
    font-size: 38pt;
    color: #008DA9;
    font-weight: bold;
}
.list-style{
    list-style-type: none;
    padding-top: inherit;
}


.brands {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px
}

.brands_slider_container {
    height: 200px;
    border: solid 1px #ffffff;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff;
    position: relative;
}

.brands_slider {
    height: 100%;
    margin-top: 50px
}

.brands_item {
    height: 100%
}

.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 40px
}

.brands_next {
    right: 40px
}

#products-section .card:hover{
    filter: brightness(98%);
}
#footer a{
    text-decoration: none;
    color: #f5f5f5;
}
#footer a:hover{
    color: white;
}
#footer span{
    color: #f5f5f5;
}
/*#products-section .card:active{*/
/*    filter: brightness(75%);*/
/*}*/
@media screen and (max-width: 639px) {
  #products-section .card{
      width: 100%!important;
      margin-left: 0!important;
  }
}
@media screen and (max-width: 767px) {
    #footer .row div{
        text-align: center!important;
    }
}

#section-contacts{
    padding-top: 100px;
    padding-bottom: 80px;
}

.top-space{
    margin-top: 128px;
}

/*warehouses*/
.warehouses {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px
}

.warehouses_slider_container {
    height: 100px;
    border: solid 1px #ffffff;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff;
    position: relative;
}
.warehouses_slider .owl-item{
    margin:10px 0 10px 0;
    padding: 0 10px 0 10px;
    width: 100%;
}
.warehouses_slider {
    height: 100%;
    margin-top: 10px
}

.warehouses_item {
    height: 100%
}

.warehouses_item img {
    max-width: 100%
}

.warehouses_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.warehouses_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.warehouses_nav:hover i {
    color: #676767
}

.warehouses_prev {
    left: 40px
}

.warehouses_next {
    right: 40px
}
#map{
    width: 100%;
    height: 500px;
}
.ware-selected{
    filter: brightness(1.2);
}
#ware-info{
    padding-top: 100px;
}




#section-contacts-email{
    height: 100%;
    width: 100%;
    background-color: #008DA9;
}
#section-contacts-text {
    padding-left: 50px;
    padding-top: 50px;
    color: white;
}
#section-contacts-form{
    width: 80%;
    margin-left: 40px;
    margin-top: 20px;

}
.button-contacts{
    background-color: white;
    color: #008DA9;
    border: none;
    padding: 8px 8px;

}

.search-nav{
    width: 30%;
}

#contacts-page{
    padding: 50px 50px;
}