.custom-button{
    background-color: #008DA9!important;
    border: solid 2px #008DA9 !important;
    border-radius: 12px;
}
.custom-button-map{
    background-color: #008DA9!important;
    border: solid 2px #008DA9 !important;
    border-radius: 12px;
    color: white;
}
.button-cart{
    background-color: #008DA9!important;
    border: solid 1px #008DA9 !important;
    border-radius: 12px;
    margin-left: 10px;
}
.button-cart:hover,
.button-cart.active{
    color: #dc3d3d;
    transform: scale(1.05 );
}

.button-buy{
    background-color: #008DA9!important;
    border: solid 2px #008DA9 !important;
    border-radius: 12px;
    margin-left: 10px;
    width: 120px;
}

.custom-button-modal{
    background-color: #008DA9!important;

}
.ware-button{
    background-color: #008DA9!important;
    border-radius: 20px;
    width: 100%;
}
.custom-button:hover{
    filter: brightness(1.10);
}
.custom-button:active{
    filter: brightness(1.20);
}
.custom-input{
    border-radius: 12px!important;
}

.d-block{
    filter: brightness(50%);
}
.d-block-modal{
    filter: brightness(90%);
}
.custom-bold{
    font-size: 18px;
    color: #008DA9;
    font-weight: bold;
}
#section2{
    position: relative;
    padding: 80px 0 80px 0;
}
#benefits {
    position: relative;
    padding: 80px 0 80px 0;
}
#benefits p{
    text-align: left;
}
#section2 p{
    text-align: left;
}
.custom-colored-text{
    color: #131818;
    text-align: start;
}

.benefit-text{
    color: #131818;
    text-align: start;
}
.import-white-text{
    font-size:20pt;
    font-weight: bold;
    font-style: italic;
    color: #EAEFF2;
    text-align: center;
    line-height: 1.3;
}
.custom-colored-text ul{
    padding-left: 0;
    list-style-type: none;
}
.custom-section1-img{
    position: absolute;
    left: 0;
    display: inline;
    height: 800px;
    z-index: -1;
    overflow: hidden;
}

.custom-section2-img{
    position: absolute;
    right: 0;
    display: inline;
    height: 800px;
    z-index: -1;
    overflow: hidden;
}
#email-section{
    padding: 150px 0 150px 0;
    background-image: url("/images/email_background.webp");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
}
#import-section{
    padding-bottom: 50px;
    padding-top: 50px;
    background-image: url("/images/import_section.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

}
.image-size{
    height: 800px;
    width: 800px;
}
.custom-bold-white{
    font-size:38pt;
    color: white;
    font-weight: bold;
    background: #008DA9;
    padding: 8px;
}
.custom-bold-white-invest{
    font-size:38pt;
    color: white;
    font-weight: bold;
    background: #008DA9;
    padding: 8px;
}
.custom-bold-white-40{
    font-size:42pt;
    color: white;
    font-weight: bold;
    background: #008DA9;
    padding: 8px;
}
.custom-bold-40{
    font-size: 42pt;
    color: #008DA9;
    font-weight: bold;
    padding-bottom: 40px;
    text-align: center;
    line-height: 1.5;
}
.custom-bold-38{
    font-size: 42pt;
    color: #008DA9;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
    line-height: 1.5;
}
.custom-bold-40-import{
    font-size: 42pt;
    color: #008DA9;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    background-color: white;
}

.brands_slider_container {
    display: flex;
    height: 200px;
    border: solid 1px #ffffff;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff;
    position: relative;
}

.brands_slider {
    height: 100%;
    margin-top: 20px
}

.brands_item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 40px
}

.brands_next {
    right: 40px
}

#products-section .card:hover{
    filter: brightness(88%);
}
#footer a{
    text-decoration: none;
    color: #f5f5f5;
}
#footer a:hover{
    color: white;
}
#footer span{
    color: #f5f5f5;
}
/*#products-section .card:active{*/
/*    filter: brightness(75%);*/
/*}*/


#section-contacts{
    padding-top: 100px;
    padding-bottom: 80px;
}

.top-space{
    margin-top: 128px;
}

/*warehouses*/
.warehouses {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px
}

.warehouses_slider_container {
    height: 100px;
    border: solid 1px #ffffff;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff;
    position: relative;
}
.warehouses_slider .owl-item{
    margin:10px 0 10px 0;
    padding: 0 10px 0 10px;
    width: 100%;
}
.warehouses_slider {
    height: 100%;
    margin-top: 10px
}

.warehouses_item {
    height: 100%
}

.warehouses_item img {
    max-width: 100%
}

.warehouses_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer;

}

.warehouses_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.warehouses_nav:hover i {
    color: #676767
}

.warehouses_prev {
    left: 40px
}

.warehouses_next {
    right: 40px
}
#map{
    width: 100%;
    height: 500px;
}
.ware-selected{
    filter: brightness(1.2);
    background-color: #008DA9;

}
#ware-info{
    padding-top: 100px;

}


#consultation-button {
    white-space: nowrap;
    text-align: center;
}

#section-contacts-email{
    height: 100%;
    width: 100%;
    background-color: #008DA9;
    padding-bottom: 40px;
}
#section-contacts-text {
    padding-left: 50px;
    padding-top: 50px;
    color: white;
}
#section-contacts-form{
    width: 80%;
    margin-left: 40px;
    margin-top: 20px;

}
.button-contacts{
    background-color: white;
    color: #008DA9;
    border: none;
    padding: 8px 8px;

}
.button-contacts:hover{
    background-color: white;
    color: #008DA9;
    opacity: 0.8;
}
.search-nav{
    width: 30%;
}

#contacts-page{
    padding: 100px 100px;
}

#orders-page{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
#orders-page-card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.order-cards{
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 3px;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}
.select-cart{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.cart-img-desc{
    display: flex;
    flex-direction: row;
}
.cart-img{
    width: 120px;
    height: 120px;
    border-radius: 3px;
}
.slide-button {
    display: flex;
    align-items: end;
    background-color: #008DA9!important;
    border: solid 2px #008DA9 !important;
    border-radius: 12px;
}
.slide-button_3 {
    display: flex;
    justify-content: left;
    background-color: #008DA9!important;
    border: solid 2px #008DA9 !important;
    border-radius: 12px;
    margin-left: 3em;
    margin-top: 3em;
}
.count {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.count__box {
    width: 40px;
    height: 30px;
    background: #EAEFF2;
    border-radius: 3px;
}
.cart-section-count{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}
.count-input {
    max-width: 100%;
    padding-top: 4px;
    background-color: transparent;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
}

.count__controls img {
    display: block;
}
.cart-desc{
    padding-left: 30px;
}
.order-img{
    width: 150px;
    height: 150px;
    padding: 5px;
}
.order-img-orders{
    padding: 5px 5px;
}
.order-detail{
    flex: 1;
    align-items: flex-start;
    padding: 5px;
}

#section-contacts-order{
    width: 100%;
    background-color: #008DA9;
    padding-bottom: 40px;
}
#img-big{
    width: 100%;
}

#img-small{
    width: 20%;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
.card-hov{
    width: 17rem;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    filter: brightness(95%);
}
.card-text-name {
    text-align: left;
    color: #343434;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
}
.card-text-model {
    text-align: left;
    color: #343434;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
}
.card-body{
    visibility: visible;
}
.modal-picture-mini{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-picture-single{
    padding-top: 5px;
    width: 100px;
    height: 100px;
    padding-right: 2px;
    cursor: pointer;
}
.button-cart-buy{
    display: flex;
    flex-direction: column;
}
.badge-cart{

}
.nav-bar-white{
    color: white;
    font-size: large;
}
.nav-bar-lg{
    font-size: large;
}
.nav-bar-white:hover{
    opacity: 0.5;
}
.subscribe-section-h1{
    font-size: 22pt;
    color: white;
    text-align: center;
}
#button-call-cart{
    display: contents; !important;
}

.benefit-text-h1{
    font-size: 42pt;
    color: #008DA9;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
.product-h1 {
    display: flex;
    font-size: 42pt;
    text-align: center;
    padding-bottom: 80px;
}

.slider-text-1{
    text-align: start;
    font-size: 4em;
}


.dropdown-menu{
    margin: 0!important;
}
.inner-drop a{
    color: #676767!important;
    font-size: 1rem;
}
.inner-drop a:hover{
    color: #131818!important;
}
.inner-drop .dropdown-toggle::after{
    visibility: hidden!important;
}
.inner-drop:hover .dropdown-menu{
    display: block;
}
.inner-drop:hover{
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}
.custom-colored-text{
    margin: 0 128px 0 128px;
}
.call-button{
    display: none;
}
.img-loading{
    width: 272px;
    height: 300px;
    background: url("/images/placeholder.webp") no-repeat scroll 0 0;
}
@media screen and (max-width: 1200px) {
    .button-call-cart{
        display: contents;
    }
    .call-button{
        display: block;
    }
    .call-button-lg{
        display: none;
    }
}
@media screen and (max-width: 1160px) {
    .container {
        width: 940px;
    }

    .order-detail{
        width: 80%;
    }
    .col-lg-6{
        width: 100%;
    }
    .call-button{
        display: inline-block;
    }
    .call-button-lg{
        display: none;
    }
    .custom-section1-img {
        height: 550px;
    }
    .custom-section2-img {
        height: 550px;

    }

}
@media screen and (max-width: 1024px) {
    .container {
        width: 780px;
    }

    .call-button-lg{
        display: none;
    }
    .image-size {
    height: 700px;
        width: 700px;
    }
}
@media screen and (max-width: 979px) {
    .container {
        width: 708px;
    }

    .col-lg-6{
        width: 100%;
    }
    #ware-info{
        padding-bottom: 20px;
    }
    .search-nav{
        width: 100%;
        margin-bottom: 10px;
    }
    .call-button{
        display: inline-block;
    }
    .call-button-lg{
        display: none;
    }
    .navbar-toggler{
        padding: 8px 8px;
    }
    .navbar-toggler-2{
        background-color: #c5c5c5fc;
        padding: 8px 8px;
    }
    .custom-bold-40-import {
        font-size: 32pt;
    }
    .slider-text-1{
        text-align: start;
        font-size: 3em;
    }
}
@media screen and (max-width: 799px) {
    .container {
        width: 708px;
    }
    .custom-colored-text{
        margin: 0;
    }
    #ware-info{
        padding-bottom: 20px;
    }
    .search-nav{
        width: 100%;
        margin-bottom: 10px;
    }
    .call-button{
        display: inline-block;
    }
    .call-button-lg{
        display: none;
    }
    .custom-bold-40-import {
        font-size: 20pt;
    }
    .slide-button {
        margin-top: 150px;
    }

    .import-white-text{
        font-size:14pt;
    }
    #import-section {
    background-size: auto;
    }
    .image-size {
        height: 400px;
        width: 400px;
    }

}
@media screen and (max-width: 768px) {
    .container {
        width: 620px;
    }
    #products-section .card{
        width: 100%!important;
        margin-left: 0!important;
    }
    #footer .row div{
        text-align: center!important;
    }
    #ware-info{
        padding-bottom: 20px;
    }
    .search-nav{
        width: 100%;
        margin-bottom: 10px;
    }
    .custom-section1-img{
        display: none;
    }

    .custom-section2-img{
        display: none;
    }
    .call-button{
        display: inline-block;
    }
    .call-button-lg{
        display: none;
    }

    .custom-bold-38 {
        font-size: 30pt;
    }
    .custom-bold-white {
        font-size: 32pt;
    }
    .custom-bold-white-invest {
        font-size: 25pt;
    }
    .benefit-text-h1{
        font-size: 32pt;
        line-height: 1.5;
    }
    .slider-text-1{
        text-align: start;
        font-size: 2em;
        height: 1em;
    }
    .image-size {
        height: 400px;
        width: 400px;
    }
    .slide-button {
        margin-top: 100px;
    }
}
@media screen and (max-width: 639px) {
    .container {
        width: 460px;
    }
    #section-contacts{
        width: 100%!important;
        max-width: 100%!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    #section-contacts-form {
        width: unset;
        margin-left: 30px;
        margin-right: 30px;
    }
    #section-contacts-text{
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact-right-left{
        margin-left: 16px!important;
        margin-right: 16px!important;
    }
    .contact-right-left p {
        margin-left: 24px!important;
        margin-right: 24px!important;
    }

    .custom-section2-img{
        display: none;
    }
    .custom-section1-img{
        display: none;
    }

    .brands_slider_container{
        padding-left: 39px;
        padding-right: 39px;
        display: flex;
        flex-direction: column;
        justify-content: center;  /* Centering y-axis */
        align-items :center;
    }
    .search-nav{
        width: 100%;
        margin-bottom: 10px;
    }
    #ware-info{
        padding-bottom: 20px;
    }
    #orders-page{
        margin-bottom: 10px;
    }
    .custom-bold-38{
        line-height: 1.5;
    }
    .col{
        flex: none;
        margin-bottom: 10px;
    }
    .search-nav{
        width: 100%;
        margin-bottom: 10px;
    }
    .slider-text-1{
        text-align: start;
        font-size: 1.7em;
        display: table-caption;
    }

}
@media screen and (max-width: 479px) {
    .container {
        width: 340px;
    }
    .custom-section2-img{
        display: none;
    }
    .custom-section1-img{
        display: none;
    }

    .search-nav{
        width: 100%;
        margin-bottom: 10px;
    }
    .col{
        flex: none;
        margin-bottom: 10px;
    }

    .owl-item{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #ware-info{
        padding-bottom: 20px;
    }
    .order-cards{
        display: flex;
        flex-direction: column;
    }
    .order-img{
        padding: 15px;
    }
    .col-lg-6{
        padding: 5px;
    }
}
@media screen and (max-width: 359px) {
    .container {
        width: 325px;
    }
    .order-cards {
        display: flex;
        flex-direction: column;
    }

    .order-img {
        padding: 15px;
    }

    .col-lg-6 {
        padding: 5px;
    }

    #section-contacts-order {
        padding: 5px
    }

    #warehouse-row {
        display: flex;
        flex-direction: column;
    }
    .subscribe-section-h1{
        font-size: 24pt;
    }
    #email-section{
        padding: 150px 0 50px 0;
    }
}

@media screen and (max-width: 300px) {
    .container {
        width: 290px;
    }

    .subscribe-section-h1{
        font-size: 24pt;
    }
    .section-contacts-text{
        padding-left: 0;
    }

}


.shop-cart {
    position: absolute;
    top: 70px;
    right: 0;
    width: 450px;
    min-height: 100px;
    background: red;
    -webkit-box-shadow: 18px 17px 8px -1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 18px 17px 8px -1px rgba(34, 60, 80, 0.2);
    box-shadow: 18px 17px 8px -1px rgba(34, 60, 80, 0.2);
}
.count-box {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.count__box {
    width: 40px;
    height: 30px;
    background: #EAEFF2;
    border-radius: 3px;
}

.orders-box{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 30px;
}
.orders-box-content{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: flex-start;
}

.export-h1{
    text-align: center;
}
.invest-h1{
    text-align: center;
}
}
.modal-h4{
    color:  #343434;
    text-align: center;
    padding: 7px 7px;
}